@model Letter
<table>
    <tr>
        <th>Letter ID</th>
        <th>Sender's Name</th>
        <th>Age</th>
        <th>City/State/Province</th>
        <th>Country</th>
        <th>Gift Request</th>
        <th>Note to Santa</th>
    </tr>
    <tr>
        <td>@Model.LetterId</td>
        <td>@Model.Name</td>
        <td>@Model.Age</td>
        <td>@Model.City</td>
        <td>@Model.Country</td>
        <td>@ViewBag.GiftName</td>
        <td>@Model.Note</td>
    </tr>
</table>

<h5>Update Status</h5>
@using (Html.BeginForm("Review", "Letter", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.IsGood)
        @Html.CheckBoxFor(model => model.IsGood)
        @Html.ValidationMessageFor(model => model.IsGood, "", new { @class = "text-danger" })
    </div>
    <input type="hidden" value="@Model.LetterId" name="LetterId" />
    <input type="hidden" value="@Model.Name" name="Name" />
    <input type="hidden" value="@Model.Age" name="Age" />
    <input type="hidden" value="@Model.City" name="City" />
    <input type="hidden" value="@Model.Country" name="Country" />
    <input type="hidden" value="@Model.GiftId" name="GiftId" />
    <input type="hidden" value="@Model.Note" name="Note" />
    <input type="Submit" value="Submit" />
}