@model List<Employee>

@if(EmployeeDAL.IsAdmin){
<h3>Employee Roster</h3>
<table>
    <tr>
        <th>Employee Id</th>
        <th>Full Name</th> 
        <th>Title</th>
        <th>Tasks</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

@foreach (Employee e in Model)
{
    if (e.Id != 1)
    {
<tr>
    <td>@e.Id</td>
    <td>@e.FullName</td>
    <td>@e.Title</td>
    <td>
        @foreach (NorthPoleApp.Models.Task t in e.Tasks) 
        { 
            <p>@t.Name</p>
        }
    </td>
    <td><a asp-action="AdminEdit" asp-controller="Employee" asp-route-Id="@e.Id">Edit</a></td>
    <td><a asp-action="Delete" asp-controller="Employee" asp-route-Id="@e.Id">Delete</a></td>
</tr>
    }
}
</table>
<br />
<p>Click <a asp-controller="Employee" asp-action="CreateEmployee">here</a> to add new employee.</p>
}
else
{
    <p>You are an unauthorized to view this page</p>
    <p>Click <a asp-controller="Home" asp-action="Index">here</a> to go to main page</p>
}